.LoginPage {
    background-color: #F0F0F0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginPage .loginComponent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.loginComponent .leftSide {
    width: 50%; /* Adjust as needed */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginComponent .leftSide img {
    max-width: 100%;
    width: 70%; /* Make image take full width of container */
    height: auto;
    cursor: pointer;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.rightSide {
    width: 50%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.rightSide .form_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #1D2126;
}

.rightSide .form_header .formtitle {
    font-size: 30px;
    font-weight: 700;
}

.rightSide .form_header .formSubTitle {
    font-size: 15px;
    font-weight: 700;
}

.rightSide .loginForm {
    display: flex;
    width: 100%; /* Make form width responsive */
    max-width: 800px; /* Constrain max width */
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.loginForm .text_feild {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.loginForm .text_feild > label {
    color: #1D2126;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.loginForm .text_feild > input {
    width: 100%;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    background: #FFF;
    color: #1D2126;
    outline: none;
    margin-top: 0;
    padding: 0 5px;
}


.loginForm .form_bottom {
    width: 100%;
    color: #1D2126;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.loginForm .linkBtn {
    color: #FF8B13;
    font-size: 15px;
    font-weight: 700;
    text-decoration-line: underline;
    cursor: pointer;
}

.loginForm .linkBtn:hover {
    color: #1D2126;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .LoginPage .loginComponent {
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
    }

    .loginComponent .leftSide, .rightSide {
        width: 100%; /* Full width on small screens */
    }

    .loginComponent .leftSide img {
        width: 100%; /* Full width on small screens */
        height: auto;
    }

    .rightSide .loginForm {
        max-width: 100%; /* Full width on mobile */
    }
}

